body{
  font-family: 'Inter', sans-serif;
  font-weight:900;
  background:#131516;
}
#vim{
  height:96px;
  width:96px;
}
#webpack{
  height:96px;
  width:96px;
}
.button{
  margin-top:20px;
  padding: 0.7rem;
  font-size:24px;
  font-weight:900;
  border-radius:10px;
  background:rgb(45, 130, 243);
  background: -webkit-linear-gradient( #fcba21, #f05321);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color:#232323;
}
/* Style page content */
.content {
  margin-left: 200px;
  margin-top:200px;
  /* Same as the width of the sidebar */
  padding: 0px 10px
}
.contentSkills{
  margin-left: 200px;
  margin-top:200px;
  padding:0px 10px 0px 60px;
}
/*-----------------------------------------------------------------*/
/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 200px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #232323; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}
/* The navigation menu links */
.sidenav > * {
  padding: 6px 8px 6px 30px;
  text-decoration: none;
  font-size: 28px;
  display: block;
  color:#818181
}
.sidenav > a{
  font-size:14px;
  margin-left:10px;
  color:rgb(45, 130, 243)
}
.sidenav > h3{
  padding: 0px 8px 0px 30px;
  font-weight:900;
  font-size:13px;
  margin: 50px 1px 4px 1px;
  letter-spacing:0.1em;
}
.sidenav > h2{
  padding: 1px 8px 1px 30px;
  margin: 1px 1px 280px 1px;
  letter-spacing:;
}
/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}
/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/*-----------------------------------------------------------------*/
/*The About Me section*/
.aboutMe{
  color: rgb(45, 130, 243);
  margin-left:40px;
}
.aboutMe h1 {
  margin-top:0;
  margin-bottom:0;
  font-size:16px;
  letter-spacing:0.3rem;
  font-weight:600;
}
.aboutMe h2 {
  margin-top:0;
  margin-bottom:0;
  margin-left:-5px;
  font-size:68px;
  letter-spacing:-0.05rem;
  color: #818181;
}
.aboutMe h3 {
  margin-top:0;
  margin-bottom:0;
  font-size: 32px;
  letter-spacing: 0.2rem;
}
.aboutMe p {
  margin-top:0;
  font-weight:400;
  letter-spacing:-0.0rem;
  color: #818181;
}
