@media screen and (max-width: 599px){
  *{
    /*box-sizing:border-box experiment, see if you like this*/
    background-repeat: no-repeat;
  }
  html{
    font-size:16px;
    height:100%;
    width:100%;
    background:rgb(24, 26, 27);
  }
  html,body{
    min-height:101%;/*renders scroll bar on every page, maintaing uniform width*/
  }
  body{
    height:100%;
    font-family: 'Inter', sans-serif;
    font-weight:900;
  }
  main{
    height:100%;
    margin-left:42vw;
  }
  a{
    text-decoration:none;
  }
  .button{
    padding: 0.7rem;
    border-radius:10px;
    background: -webkit-linear-gradient( #fcba21, #f05321);
    -webkit-background-clip: border-box;
    -webkit-text-fill-color: #232323;
  }
  /*----------------------------- End Global Styles ----------------------------*/
  /*---------------------------Page Content Sections----------------------------*/
  /*----------------------------------------------------------------------------*/
  /*----------------------------------------------------------------------------*/
  /*--------------------------------Skills Page---------------------------------*/
  .skills{
    padding: 100px 10px 0px 60px;
    color: rgb(45, 130, 243);/*blue*/
    width: 60vw;
  }
  .skills{
    margin:120px 10px 0px 200px;
    padding-left:60px;
    color: rgb(45, 130, 243);
  }
  .skills h2{
    font-size:42px;
    margin-left:16px;
    margin-bottom:0px;
  }
  .skills h3{
    margin-top:14px;
    font-size:16px;
    letter-spacing: 0.15rem;
    margin-left:20px;
    color: #818181;
  }
  /*------------------------------End Skills Page-------------------------------*/
  /*--------------------------------About Page----------------------------------*/
  .about{
    padding: 200px 10px 0px 100px;
    color: rgb(45, 130, 243);/*blue*/
    width: 60vw;
  }
  .about h1 {
    margin-top:0;
    margin-bottom:0;
    font-size:18px;
    letter-spacing:0.3rem;
    font-weight:600;
  }
  .about h2 {
    margin-top:0;
    margin-bottom:0;
    margin-left:-5px;
    font-size:68px;
    letter-spacing:-0.05rem;
    color: #818181;
  }
  .about h3 {
    margin-top:0;
    margin-bottom:0;
    font-size: 32px;
    letter-spacing: 0.2rem;
  }
  .about p {
    margin-top:10px;
    margin-bottom:40px;
    font-weight:400;
    letter-spacing:-0.0rem;
    color: #818181;
  }
  /*------------------------------End About Page--------------------------------*/
  /*------------------------------Portfolio Page--------------------------------*/
  .portfolio{

  }
  .portfolio h2{
    font-size:42px;
    margin-top:80px;
    color:#0bfde4;
  }
  .projContent{
    display: grid;
    grid-template-columns: repeat(3, auto) repeat(5, 1fr);
    grid-template-rows: repeat(4, min-content);
    grid-gap:1px;
    z-index:1;
    align-items:center;
    margin-bottom:110px;
    width:40vw;
  }
  .projContent h4{/*featured Project*/
    font-size:14px;
    font-weight:400;
    grid-column:1/6;
    grid-row:1;
    margin-bottom:0px;
    margin-top:0px;
    color: rgb(45, 130, 243);
  }
  .projTitle{/*clickable button*/
    grid-column:1/4;
    grid-row:2;
    margin-bottom:0px;
    margin-top:10px;
    font-size:24px;
    color:#232323;
    background: #0bfde4;
    padding:0.5rem;
    border-radius:5px;
    z-index:4;
  }
  .projDesc{
    margin-top:20px;
    display:block;
    grid-column:1/7;
    grid-row:3;
    padding:0.5rem 1rem 0.5rem 1.5rem;
    border-radius:1px;
    font-weight:400;
    letter-spacing:-0.02rem;
    font-size:14px;
    z-index:3;
    position:relative;
    width: 85%;
    background:#112240;
    color: rgb(45, 130, 243);
    border-radius:5px;
  }
  .projKeywords{
    grid-column:1/6;
    grid-row:4;
    z-index:3;
    color:#818181;
    color: rgb(45, 130, 243);
  }
  .projImg{
    grid-column:6/9;
    grid-row:1/5;
    z-index:2;
    background: rgba(255,0,0,0.3);
    opacity:1;
    transition:0.5s;
  }
  .projImg img{
    display: block;
  }
  .projImg:hover{
    opacity:0.5;
  }
  .projImg img onclick***********open pop-up with projStory
  .projStory{

  }
  /*------------------------------End PortfolioPage-----------------------------*/
  /*------------------------------------Menu------------------------------------*/
  .menu {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 35vw; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background: #232323;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;

  }
  /*------------------The navigation menu links---------------------------------*/
  .menu > * {

    text-decoration: none;
    display: block;
    color:#0bfde4;
  }
  .menu > a{
    font-size:14px;
    margin-left:10px;
  }
  .menu > h3{
    font-weight:900;
    font-size:13px;
    padding: 50px 8px 0px 10px;
    letter-spacing:0.1em;
  }
  .menu > h2{
    padding: 0px 0px 0px 10px;
    margin-bottom: 280px;
    font-size:32;
    letter-spacing:-0.07rem;
  }
  /* When you mouse over the navigation links, change their color */
  .menu a:hover {
    color: #f1f1f1;
  }
  /*--------------------------------End Menu------------------------------------*/
  /*------------------------------Logo Styles---------------------------------*/
  #vim{
    height:96px;
    width:96px;
  }
  #webpack{
    height:96px;
    width:96px;
  }
  .langLogos{
    margin-top:40px;
  }
  .langLogos * {
    padding:0.25rem 0.5rem 0.25rem 0.5rem;
  }
  /*----------------------@media Outer Bracket----------------------------------*/
  }
  /*----------------------@media Outer Bracket----------------------------------*/
