@media screen and (min-width:768px){
/*----------------------------- Global Styles --------------------------------*/
*{
  /*box-sizing:border-box experiment, see if you like this*/
}
nav{
  height:4vh;
  display: flex;
  justify-content: center;
}
html{
  font-size:16px;
  height:100%;
  width:100%;
  background:rgb(24, 26, 27);
  overflow-x: hidden;
}
body{
  height:100%;
  width:100%;
  font-family: 'Inter', sans-serif;
  font-weight:900;
}
main{
  height:100vh;
  width:100vw;
}
a{
  text-decoration:none;
}
.button{
  padding: 0.7rem;
  font-size:1rem;
  border-radius:10px;
  background: linear-gradient(#a8c0ff, #3f2b96);
  -webkit-background-clip: border-box;
  -webkit-text-fill-color: white;
  text-shadow:;
}
/*----------------------------- End Global Styles ----------------------------*/

/*--------------------------------Skills Page---------------------------------*/

.skills{
  margin:3rem auto;
  color: rgb(45, 130, 243);
  width:74vw;
  display:flex;
  flex-direction:column;
  align-items:center;
}
.skills h2{
  font-size:3rem;
}
.langLogos{

}
.langLogos * {
  padding:0.25rem 0.5rem 0.25rem 0.5rem;
}
/*------------------------------End Skills Page-------------------------------*/

/*--------------------------------About Page----------------------------------*/
.about{
  color: rgb(45, 130, 243);/*blue*/
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:start;
  margin:auto;
  max-width:430px;
}
.about h4 {
  margin-top:;
  margin-bottom:;
  font-size:18px;
  letter-spacing:0.3rem;
  font-weight:600;
}
.about h1 {
  margin-top:0;
  margin-bottom:0;
  margin-left:-5px;
  font-size:68px;
  letter-spacing:-0.05rem;
  color: #818181;
  background: -webkit-linear-gradient( #a8c0ff, #3f2b96);
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
}

.about h3 {
  margin-top:0;
  margin-bottom:0;
  font-size: 32px;
  letter-spacing: 0rem;
}
.about p {
  margin-top:10px;
  margin-bottom:40px;
  font-weight:400;
  letter-spacing:-0.0rem;
  color: #818181;
}
/*------------------------------End About Page--------------------------------*/

/*------------------------------Portfolio Page--------------------------------*/
/*
.portfolio{
  margin-top:6vh;
  margin-bottom:;
  padding:1rem;
  display: flex;
  flex-direction:column;
  justify-content:start;
  align-items:;
}
.headline{
  font-size:8vh;
  background: linear-gradient(to left, #d3cce3, #e9e4f0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 14vh auto 0 6vw;
}
.project{
  background: linear-gradient(to left, #d3cce3, #e9e4f0);
  -webkit-background-clip: border-box;
  -webkit-text-fill-color: white;
  width:80vw;
  max-width;788px;
  max-height:62vh;
  padding-bottom:12vh;
  padding-top:;
  border-radius:3px;
  margin-bottom:12vh;
  display:flex;
  flex-direction:column;
  align-self:center;
  justify-content:center;
}
.projTitle{
  font-size:24px;
  letter-spacing:0.1rem;
  color:#818181;
  align-self:flex-end;
  padding-right: 3vw;
  padding-top:;

}
.projImg{
  opacity:1;
  transition:0.5s;
  align-self:center;
  max-height:90%;
}
.projImg img{
  display: block;
  color: #16ADE3;
  width:70vw;
  height:100%;
}
.projImg:hover{
  opacity:0.5;
}
*/
.portfolio{
  display: grid;
  width: 100vw;
  grid-template-columns:7vw 39.5vw 7vw 39.5vw 7vw;
  grid-template-rows:30vh 30vh 30vh;
  grid-template-areas:
  'lm p1 m p2 rm'
  'lm p3 m p4 rm'
  'lm p5 m p6 rm';
}
#react{
  grid-area:p1;
}
#webpack{
  grid-area:p2;
}
#api{
  grid-area:p3;
}
#crud{
  grid-area:p4;
}
#res{
  grid-area:p1;
}
#domman{
  grid-area:p6;
}
.portfolio h2{

}
.project{

}
.shadow{
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.projTitle{
  font-size:4vw;
  color:#818181;
  align-self:flex-end;
  padding-right:1rem;
}
.projImg{
  opacity:1;
  transition:0.5s;
  align-self:center;
  height:100%;
  width:100%
}
.projImg img{
  display: block;
  color: #16ADE3;
  width:100%;
  height:100%;
  margin-bottom: 4vh;
}
.projImg:hover{
  opacity:0.5;
}

/*------------------------------End PortfolioPage-----------------------------*/
/*------------------------------Logo Styles---------------------------------*/
#vim{
  height:96px;
  width:96px;
}
#webpack{
  height:96px;
  width:96px;
}
}
/*----------------------@media Outer Bracket----------------------------------*/
