@media screen and (min-width:768px){
/*----------------------------- Global Styles --------------------------------*/
*{
  box-sizing:border-box;
}
nav{
  display:flex;
  justify-content: center;
  z-index:230;
}
html{
  font-size:10px;
  height:100%;
  width:100%;
  background:white;
  overflow-x: hidden;
}
body{
  height:100%;
  width:100%;
  font-family: 'Inter', sans-serif;
  font-weight:900;
  color:black;
  background:#fafafa;
}
body h2{
  font-size: 7rem;
}
body p{
  font-size:1.8rem;
  line-height:1.4;
  font-weight:300;
}
body a{
  text-decoration:none;
  color:inherit;
}
#frontPage{
  margin-top:70px;
  display:grid;
  grid-template-columns:11vw 19vw 40vw 19vw 11vw;
  grid-template-rows:144px 172px 228px;
  align-items:center;
  justify-items:center;
  height:572px;
  width:100%;
  box-shadow: 0 8px 6px -9px black;
  background:white;
}
#frontPage img{
  grid-column:3;
  grid-row:3;
  align-self:end;
  height:578px;
}
.frontPageText h2{
  margin-bottom:8px;
  font-size:3.6rem;
  font-weight:900;
}
.frontPageText p{
  color:#666666;
  font-weight:300;
  margin-top:0;
}
#aboutText{
  grid-column:2;
  grid-row:2;
}
.textDiv{
  display:flex;
  flex-direction:column;
  align-items:center;
  margin:auto;
  width:57vw;
}
#pt{
  text-align:center;
  line-height:1.8;
  margin-top:0;
}
#tp{
  line-height:1.8;
}
#portfolioText{
  grid-column:4;
  grid-row:2;
}
#portfolio{
  margin-top:50px;
  display:grid;
  grid-template-rows:250px 250px;
  grid-template-columns:33px repeat(3, 1fr) 33px;
  gap:33px;
  width:100vw;
  text-align:center;
  font-size:4rem;
  margin-bottom:36px;
}
.project{
  position:relative;
  display:block;
  color:#eee;
}
.project a{
  background-color:black;
  background-size: cover;
  background-position: center center;
  background-blend-mode: hard-light;
  opacity:90%;
  box-shadow: 0 1px 0 rgb(30 30 32/20%) inset,
              0 8px 16px rgb(0 0 0/50%);
  transition: box-shadow 150ms ease-out;
  outline:none;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index:220;
  width: 100%;
  height: 100%;
  display:flex;
  flex-direction:column;
  justify-content:center;
}
.project h2{
  font-size: 4.2rem;
  vertical-align:middle;
  z-index:350;
  opacity:80%;
}
#react{
  grid-row:1;
  grid-column:2;
}
#webpack{
  grid-row:1;
  grid-column:3;
}
#crud{
  grid-row:1;
  grid-column:4;
}
#api{
  grid-row:2;
  grid-column:2;
}
#res{
  grid-row:2;
  grid-column:3;
}
#domman{
  grid-row:2;
  grid-column:4;
}
.letsChat{
  margin-top:36px;
  height:400px;
  display:grid;
  grid-template-columns:50vw 50vw;
  background:#eeebd9;
  margin-bottom:36px;
}
#letsChat1{
  grid-column:1;
  font-size:5rem;
  display:flex;
  align-items:center;
  justify-content:center;
}
#letsChat2{
  grid-column:2;
  font-size:9rem;
  display:flex;
  align-items:center;
  justify-content:center;
}
footer{
  height:100px;
  display:grid;
  grid-template-columns:100vw;
  grid-template-rows:50px 50px;
}
footer div{
  grid-row:1;
  grid-column:1;
  display:flex;
  align-items:center;
  justify-content:center
}
footer p{
  grid-row:2;
  grid-column:1;
  display:flex;
  align-items:center;
  justify-content:center;
}
footer img{
  height:32px;
  margin:2rem;
}
