@media screen and (min-width:1px) and (max-width: 599px){
/*------------------------- Global & About Styles ----------------------------*/
*{
  /*box-sizing:border-box experiment, see if you like this*/
}
nav{
  height:4vh;
  display: flex;
  justify-content: center;
}
html{
  font-size:16px;
  height:100%;
  width:100%;
  background:rgb(24, 26, 27);

}
html,body{
  min-height:100%;
  overflow-x:hidden;/*renders scroll bar on every page, maintaing uniform width*/
}
body{
  height:100%;
  width:100%;
  font-family: 'Inter', sans-serif;
  font-weight:900;
}
main{
  height:100vh;
  width:100vw;
}
a{
  text-decoration:none;
}
/*--------------------------------Skills Page---------------------------------*/
.skills{
  padding: 100px 10px 0px 60px;
  color: rgb(45, 130, 243);/*blue*/
  width: 60vw;
}
.skills{
  margin:120px 10px 0px 200px;
  padding-left:60px;
  color: rgb(45, 130, 243);
}
.skills h2{
  font-size:42px;
  margin-left:16px;
  margin-bottom:0px;
}

/*--------------------------------About Page----------------------------------*/
.about{
  margin:10rem auto;
  height:;
  width:96vw;
  color: rgb(45, 130, 243);
  display:flex;
  flex-direction:column;
  justify-content:start;
  align-items:

}
.about h4 {
  margin:0 auto 1.2rem 0;
  font-size:5.25vw;
  letter-spacing:0.3rem;
  font-weight:600;
  color:#3c9df4;
}
.about h1 {
  margin:0 auto 0 -3px;
  font-size:21.25vw;
  letter-spacing:-0.02rem;
  color: #818181;
  /*background: -webkit-linear-gradient( #a8c0ff, #3f2b96);*/
  background: -webkit-linear-gradient(#31256a, #313144);
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
}
.about h1 span{
  background: -webkit-linear-gradient( #fcba21, #f05321);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.about h3 {
  margin-top:0.5rem;
  margin-bottom:0;
  font-size: 7.8vw;
  letter-spacing: -0.05rem;
  color:#3c9df4;
}
.about p {
  margin:1rem 2px 0 0;
  font-weight:400;
  font-size:1rem;
  letter-spacing:;
  line-height:2rem;
  color: #818181;
  width:96%
}
.button{
  margin:2rem 0;
  padding: 0.9rem 1rem;
  font-size:1rem;
  border-radius:10px;
  /*background: linear-gradient(#a8c0ff, #3f2b96);*/
  background: -webkit-linear-gradient(#31256a, #313144);
  -webkit-background-clip: border-box;
  -webkit-text-fill-color: white;
  text-shadow:;
  width:max-content;
  display:flex;
  align-items:center;
}
/*------------------------------Portfolio Page--------------------------------*/
.portfolio{
  margin-top:;
  padding:0rem;
}
.portfolio h2{
  font-size:52px;
  color:#818181;
  margin-left:-30vw;
  margin-bottom:3vh;
}
.project{
  background:#232323;
  width:80vw;
  border-radius:3px;
  margin-bottom:3vh;
  display:flex;
  flex-direction:column;
}
.projTitle{
  font-size:24px;
  color:#818181;
  align-self:flex-end;
  padding:0rem 3vw 0rem 0rem;
}
.projImg{
  opacity:1;
  transition:0.5s;
  align-self:center;
}
.projImg img{
  display: block;
  color: #16ADE3;
  width:70vw;
}
.projImg:hover{
  opacity:0.5;
}

/*------------------------------Logo Styles---------------------------------*/
#vim{
  height:96px;
  width:96px;
}
#webpack{
  height:96px;
  width:96px;
}
.langLogos{
  margin-top:40px;
}
.langLogos * {
  padding:0.25rem 0.5rem 0.25rem 0.5rem;
}
}
/*----------------------@media Outer Bracket----------------------------------*/
