@media screen and (min-width:600px) and (max-width:767px){
/*----------------------------- Global Styles --------------------------------*/
*{
  /*box-sizing:border-box experiment, see if you like this*/
}
nav{
  height:4vh;
  display: flex;
  justify-content: center;
}
html{
  font-size:16px;
  height:100%;
  width:100%;
  background:rgb(24, 26, 27);
  overflow-x: hidden;
}
body{
  height:100%;
  width:100%;
  font-family: 'Inter', sans-serif;
  font-weight:900;
}
a{
  text-decoration:none;
}
