@media screen and (max-width: 599px){
/*----------------------------- Global Styles --------------------------------*/
*{
  /*box-sizing:border-box experiment, see if you like this*/
}
nav{
  height:4vh;
  display: flex;
  justify-content: center;
}
html{
  font-size:16px;
  height:100%;
  width:100%;
  background:rgb(24, 26, 27);
}
html,body{
  min-height:101%;/*renders scroll bar on every page, maintaing uniform width*/
}
body{
  height:100%;
  width:100%;
  font-family: 'Inter', sans-serif;
  font-weight:900;
}
main{
  height:100%;
  width:100vw;
  display: flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}
a{
  text-decoration:none;
}
.button{
  padding: 0.7rem;
  font-size:16px;
  font-weight:900;
  border-radius:10px;
  background: -webkit-linear-gradient( #fcba21, #f05321);
  -webkit-background-clip: border-box;
  -webkit-text-fill-color: #232323;
}
/*----------------------------- End Global Styles ----------------------------*/
/*---------------------------Page Content Sections----------------------------*/
/*--------------------------------Skills Page---------------------------------*/
.skills{
  padding: 100px 10px 0px 60px;
  color: rgb(45, 130, 243);/*blue*/
  width: 60vw;
}
.skills{
  margin:120px 10px 0px 200px;
  padding-left:60px;
  color: rgb(45, 130, 243);
}
.skills h2{
  font-size:42px;
  margin-left:16px;
  margin-bottom:0px;
}
/*------------------------------End Skills Page-------------------------------*/
/*--------------------------------About Page----------------------------------*/
.about{
  color: rgb(45, 130, 243);/*blue*/
  width: 60vw;
  max-width:500px;
}
.about h4 {
  margin-top:0;
  margin-bottom:0;
  font-size:18px;
  letter-spacing:0.3rem;
  font-weight:600;
}
.about h1 {
  margin-top:0;
  margin-bottom:0;
  margin-left:-5px;
  font-size:68px;
  letter-spacing:-0.05rem;
  color: #818181;
}
.about h3 {
  margin-top:0;
  margin-bottom:0;
  font-size: 32px;
  letter-spacing: 0.2rem;
}
.about p {
  margin-top:10px;
  margin-bottom:40px;
  font-weight:400;
  letter-spacing:-0.0rem;
  color: #818181;
}
/*------------------------------End About Page--------------------------------*/
/*------------------------------Portfolio Page--------------------------------*/
.portfolio{
  margin-top:;
  padding:0rem;
}
.portfolio h2{
  font-size:52px;
  color:#818181;
  margin-left:-30vw;
  margin-bottom:3vh;
}
.project{
  background:#232323;
  width:80vw;
  border-radius:3px;
  margin-bottom:3vh;
  display:flex;
  flex-direction:column;
}
.projTitle{
  font-size:24px;
  color:#818181;
  align-self:flex-end;
  padding:0rem 3vw 0rem 0rem;
}
.projImg{
  opacity:1;
  transition:0.5s;
  align-self:center;
}
.projImg img{
  display: block;
  color: #16ADE3;
  width:70vw;
}
.projImg:hover{
  opacity:0.5;
}
/*------------------------------End PortfolioPage-----------------------------*/
/*------------------------------Logo Styles---------------------------------*/
#vim{
  height:96px;
  width:96px;
}
#webpack{
  height:96px;
  width:96px;
}
.langLogos{
  margin-top:40px;
}
.langLogos * {
  padding:0.25rem 0.5rem 0.25rem 0.5rem;
}
}
/*----------------------@media Outer Bracket----------------------------------*/
