@media screen and (min-width:600px) and (max-width:767px){
html{

}
body{
  font-family: 'Inter', sans-serif;
  font-weight:900;
  background: rgb(24, 26, 27);
}
nav{

}
a{
  text-decoration:none;
}
/*--------------Outer Bracket Delimiter-----------------------*/
}
